.App {
  text-align: center;
  background: #c4c8c9;
  width: 600px;
  margin: 0 auto; 
}



/* Responsive Navbar */

.navbar {
  background-color :#3AA3F2;
  overflow: hidden;
  height: 120px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(6, 13, 116);
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}


.logo {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 650px;
  top: 5px;
  border-radius: 25px;
  display: block;
}

.bodytext {
    padding: 150px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

